.container {
	margin-top: 30px;
	margin-bottom: 30px;
}
.itemComp {
	height: 400px;
	border: 1px solid #333;
	margin-top: 30px;
}
.itemComp-title {
	background: #808080;
	padding: 10px;
	margin: 0;
}
.itemComp-main {
	font-size: 24px;
	height: 150px;
	width: 150px;
	border: 1px solid #333;
	border-radius: 50%;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
	margin: 76px auto;

}
.itemComp-list {
	overflow: auto;
	height: 297px;
}
.itemComp-list__table{
	margin: 20px 30px;
}
.itemComp-list__table,
.itemComp-list__table td {
	border-collapse: collapse;
	border: 1px solid #000;
}
.itemComp-list__table td {
	font-size: 18px;
	padding: 10px 5px;
}
.itemComp-news img {
	width: 100%;
	height: 168px;
	margin: 20px 0;
	object-fit: cover;
}
/*FORMS*/
.container-center {
	display: flex;
	justify-content: center;
}
.itemForms {
	height: 460px;
	border: 1px solid #333;
	margin-top: 30px;
}
.itemForms-title {
	background: #808080;
	padding: 10px;
	margin: 0;
	text-align: center;
}
.fields {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 10px auto;
	border: 1px solid;
}
.fields-icons {
	width: 7%;
	height: 45px;
	display: flex;
	align-items: center;
	border-right: 1px solid;
	background: #808080;
}
.fields-icons img {
	width: 100%;
}
.fields-input {
	width: 90%;
}
.fields-input input {
	width: 100%;
	height: 45px;
	outline: none;
	border: none;
	padding-left: 10px;
}
.gender {
	width: 100%;
	height: 45px;
	outline: none;
	border: none;
	padding-left: 10px;
}
.fields__bordNone {
	border: none;
}
.checkboxForms {
	display: flex;
	align-items: center;
	margin-right: 15px;
}
.checkboxForms input {
	margin: 0;
}
.submitForms {
	display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}
.submitForms input {
	    padding: 6px 40px;
}
@media ( max-width: 992px ) {
	.itemComp-slider {
		height: auto;
	}
}
@media ( max-width: 468px ) {
	.itemComp-list table {
		width: 80%;
	}
}
/*END FORMS*/
.itemComp-partners {
	height: 415px;
}
.itemComp-main__wrap {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden; 
	height: 84%;
}
.itemComp-main__wrap .itemComp-main {
	 font-size: 18px;
    height: 100px;
    width: 100px;
    margin: none;
    margin: 50px;
    margin-bottom: 0;
    position: relative;
}
.itemComp-main__wrap .itemComp-main:after {
	content: "";
	width: 50px;
	padding: 5px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	position: absolute;
    transform: rotate(90deg);
    bottom: -30px;
}
.blockList {
	width: 150px;
    height: 100px;
    border: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    font-size: 20px;
    background: #fff;
}
.itemComp-listPartn {
	position: relative;
}
.itemComp-slider .bx-viewport {
	height: 289px;
}
#error {
	display: flex;
    align-items: center;
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    justify-content: center;
    background: red;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}